@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

	--primary: #03ddf1;
	--secondary: #9529ad;
	--background: #80b6e6;
	--primary-circle: #484747;
	--secondary-circle: #f23759;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 24px;
	overflow-x: hidden;
	clip-path: circle(55.6% at 0 0);
}

body, body * {
	/* cursor: none; */
}

body::-webkit-scrollbar{
	/* display: none; */
}

.cursor{
	display: none;
	position: absolute;
	z-index: 3000;
	border: 2px dotted var(--primary);
	padding: 10px;
	border-radius: 50px;
}
.cursor>div{
	padding: 2px;
	border-radius: 50px;
	background: var(--primary)
}

canvas#webgl{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
    outline: none;
}

main{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

main header{
	width: 100vw;
	height: 100vh;
	grid-column: 1 / span 12;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

main header nav{
	position: absolute;
	top: 40px;
	width: 100%;
	padding: 0 50px;
}

main header nav .split{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

nav .split ul{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
nav .split ul>li{
	margin-right: 20px;
}
nav .split ul>li:last-child{
	margin-right: 0px;
}

nav .split a.logo {
	color: white;
	font: 500 normal 16px 'Montserrat', sans-serif !important;
	transition: .2s;
}

nav .split a{
	padding: 10px;
}
nav .split ul li *{
	display: flex;
	flex-direction: column;
	color: white;
	font: 400 normal 14px 'Montserrat', sans-serif !important;
	transition: .2s;
}
nav .split ul li a p{
	opacity: .7;
}
nav .split ul li:hover a p,
nav .split ul li:focus a p,
nav .split ul li a.active p{
	color: white;
	opacity: 1 !important;
}
nav .split ul li a.active p{
	font-weight: 500 !important;
}

nav .split ul li a .line{
	background: white;
	height: 2px;
	width: 0px;
	transition: .3s;
}
nav .split ul li a:hover .line{
	width: 20px;
}

main header .header_wrap{
	transform: translateY(-100px)
}

main header h1{
	font: 600 normal 80px 'Montserrat', sans-serif !important;
	margin-bottom: 20px;
}

main header h1 span{
	color: var(--primary);
}

main header h6{
	font: 400 normal 30px 'Montserrat', sans-serif !important;
	color: var(--primary);
	margin-bottom: 10px;
}

main header p{
	font: 200 normal 20px 'Montserrat', sans-serif;
}

main header .scroll{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%)
}

main header .scroll_container{
	background: transparent;
	border: 2px solid white;
	border-radius: 25px;
	width: 40px;
	height: 60px;
	display: grid;
	place-items: center;
}

main header .scroll_container .scroll_point{
	background: white;
	padding: 5px;
	border-radius: 50%;
}

/* animation */
.circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	clip-path: circle(55.6% at 0 0);
}
.circle.primary{
	z-index: 100;
	background: var(--primary-circle);
}

/* section body */
/* section.body{
	background: transparent;
	height: 100vh;
	width: 100vw;
}

section canvas#model{
	position: fixed;
	height: 100vh;
	width: 100vw;
    outline: none;
} */